# ┌──────────────────────────────────────────────┐
# │ Frontend - Archivo de ejemplo .env           │
# └──────────────────────────────────────────────┘

NODE_ENV=development
PORT=9400

# Configuración de API
ROOT_PUBLIC_API_URL=http://localhost:4000/api/v1
API_DOMAIN=
ROOT_PUBLIC_ENV=development
ROOT_PUBLIC_ASSETS_URL=
